* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-desktop {
  display: flex;
  gap: 1.5rem;
}

.nav-desktop a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-desktop a:hover {
  color: #d97706;
}

.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #F2AC57;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 999px;
  text-decoration: none;
  transition: background 0.3s;
}

.whatsapp-btn:hover {
  background-color: #d97706;
}

/* Menu mobile */
.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 0.5rem;
}



/* Responsividade */
@media (min-width: 768px) {
  .nav-desktop {
    display: flex;
  }

  .menu-button {
    display: none;
  }

  .whatsapp-btn {
    display: inline-flex;
  }
}

@media (max-width: 767px) {
  .nav-desktop,
  .whatsapp-btn {
    display: none;
  }
}




/* Hero --> FALTA UM AJUSTE ENTRE OS ELEMENTOS */ 
.hero {
  background-image: url('../src/img/conjuntoferramentas.jpg'); 
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  position: relative;
  padding: 0 1.5rem;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.425); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left; 
  max-width: 600px;
}


.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero-button {
  background-color: #FFAE4B;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.hero-button:hover {
  background-color: #d97706;
}
